/* Nav-bar */
nav{
    
    background-image: url(images/nav-pattern.gif);
    height: 90px; 
}


/* Logo */
#logotype{
    
    margin-left: 15%;
    z-index: 3;
    padding: 0px;
    margin-top: 1%;
    height: 3rem; 
}

/* list items */
.menu{
    
    list-style-type: none;
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-right: 90px;
    margin-top: 3%;   
}

.menu li{
    
    font-family: 'Oswald', sans-serif;
    display: inline;
    line-height: 20px;
    min-width: 10px;
    margin-top: 10px;
    padding: 20px;
    color: #fff; 
}


/* border arouund the order li */
#order{
    
    border: 2px #fff solid;
    border-radius: 8px;
    padding: 10px;
}

